.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding: 1em;
}

.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
}

.double-height {
    grid-row-start: span 2;
}

.grid-container > div {
    background-color: rgba(0,0,0, 0.2);
}

body {
    background-color: lightblue;
}

.navbar {
    overflow: hidden;
    background-color: #333333;
}

* {
    margin:0;
    padding:0;
}

.text-highlighting {
    color: red;
}

.navbar a {
    /*float: left;*/
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar img {
    margin-bottom:1em;
}

.navbar a:hover {
    background-color: #2ccbb4;
}

.center {
    /*display:inline-flex;*/
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}